@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@media screen and (max-width: 319px){
    .vid {
        padding-top:110px !important;
    }
    .vid-header {
        margin-top: -150px !important ;
        padding-bottom: 30px !important;
    }
    nav {
        flex-direction: column;
    }
    .nlogo {
        display: none;
    }
    .nbutton {
        flex-direction: column;
    }
}
@media screen and (min-width: 320px) and (max-width: 387px){
    .vid {
        padding-top:110px !important;
    }
    .vid-header {
        margin-top: -150px !important ;
        padding-bottom: 30px !important;
    }
    nav {
        flex-direction: column;
    }
    .nlogo {
        display: none;
    }
    .nbutton {
        flex-direction: column;
    }
}
@media screen and (min-width: 388px) and (max-width: 532px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -180px !important ;
        padding-bottom: 90px !important;
    }
    nav {
        flex-direction: column;
    }
    .nbutton {
        flex-direction: column;
    }
}
@media screen and (min-width: 533px) and (max-width: 699px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -220px !important ;
        padding-bottom: 90px !important;
    }
    nav {
        flex-direction: column;
    }
    .nbutton {
        flex-direction: column;
    }
}
@media screen and (min-width: 700px) and (max-width: 800px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -260px !important ;
        padding-bottom: 90px !important;
    }
    nav {
        flex-direction: row;
    }
    .nbutton {
        flex-direction: row;
    }
}
@media screen and (min-width: 801px) and (max-width: 966px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -300px !important ;
        padding-bottom: 110px !important;
    }
    nav {
        flex-direction: row;
    }
    .nbutton {
        flex-direction: row;
    }
}
@media screen and (min-width: 967px) and (max-width: 1146px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -350px !important ;
        padding-bottom: 150px !important;
    }
    nav {
        flex-direction: row;
    }
    .nbutton {
        flex-direction: row;
    }
}
@media screen and (min-width: 1147px) and (max-width: 1270px) {
    .vid {
        padding-top:100px !important;
    }
    .vid-header {
        margin-top: -470px !important ;
        padding-bottom: 270px !important;
    }
    nav {
        flex-direction: row;
    }
    .nbutton {
        flex-direction: row;
    }
}

html {
    scroll-behavior: smooth;
}
body {
    background: #ee2424;
    background: linear-gradient(90deg, rgba(238,36,36,1) 0%, rgba(240,245,67,1) 100%);
}
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ee2424;
    padding: 10px;
    width: 100%;
    z-index: 1;
    position: fixed;
}
.nwidth {
    width: 100%;
    display: inline-flex;
}
.nlogo {
    width: 100px;
    max-width: 100px;
}
.nbutton {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.primary-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
    color: white;
}
.primary-head-l {
    font-size: clamp(1rem, -3.2188rem + 13.5vw, 4.375rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.head-about {
    font-size: clamp(1.25rem, -2.6563rem + 12.5vw, 4.375rem);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.p-about {
    font-size: clamp(0.875rem, 0.6406rem + 0.75vw, 1.0625rem);
}
.vid-header {
    text-align: center;
    margin-top: -450px;
    padding-bottom: 250px;
}
#devs {
    width: 100%;
    max-width: 800px;
}
#devs-center {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.contain-footer {
    background-color: #f18701;
    margin-bottom: -8px;
    width: 100%;
}
#social-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 100px;
}